Django==2.2.27
django-cors-headers==3.0.1
django-datatables-view==1.18.0
django-environ==0.4.5
django-filter>=2
django-safedelete==0.5.1
django-simple-history==2.7.2
djangorestframework-simplejwt==4.4.0
djangorestframework==3.11.2
gunicorn==19.9.0
pillow==9.0.0
psycopg2-binary==2.8.4
psycopg2==2.8.5
pyjwt==2.4.0
python-slugify==3.0.2