{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Country Delete</h5>
            </div>
            <div class="card-body">
                <form method="post">{% csrf_token %}
                    <p>Are you sure you want to delete "{{ object }}"?</p>
                    <button class="btn btn-lg btn-primary" type="submit">Confirm</button>
                    <a href="{% url 'country_index' %}" class="btn btn-lg btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}